/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

/* HERO SECTION */

header {
    background-image: url("/img/torshov.jpg");
    background-size: cover;
    background-position: center;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

header h1 {
    margin-top: 0;
    background-color: #1D3557;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

header h2 {
    background-color: #457B9D;
    max-width: 400px;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

/* ACTIVITIES SECTION */

#activities-section {
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
    padding: 2.5rem 0;
}

#activities-section h3 {
    margin-top: 0;
}

#activities-section img {
    border-radius: 50%;
}