/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

/* NAVIGATION */

nav {
    padding: .5rem 0;
    background-color: #F1FAEE;
}

button {
    background-color: transparent;
    border: 1px solid gainsboro;
    border-radius: .25rem;
    width: 5rem;
}

button:hover {
    background-color: #d9e1d6;
    cursor: pointer;
}

/* HERO SECTION */

header {
    background-image: url("/img/torshov.jpg");
    background-size: cover;
    background-position: center;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

header h1 {
    margin-top: 0;
    background-color: #1D3557;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

header h2 {
    background-color: #457B9D;
    max-width: 400px;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

#chino-header {
    background-image: url("/img/chino-hills.jpg");
}

#chino-header h1 {
    background-color: darkorange;
}

#chino-header h2 {
    background-color: #e6c200;
}

#yonkers-header {
    background-image: url("/img/yonkers.jpg");
}

#yonkers-header h1 {
    background-color: #031c5e;
}

#yonkers-header h2 {
    background-color: steelblue;
}

/* ACTIVITIES SECTION */

#activities-section {
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
    padding: 2.5rem 0;
}

#activities-section h3 {
    margin-top: 0;
    padding: 0 3rem;
}

#top-activities {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activities-section img {
    border-radius: 50%;
}

.activity h4 {
    max-width: 160px;
    margin: 1rem;
}

.activity p {
    max-width: 200px;
    margin: 0 0 2.5rem;
}

.activity a {
    color: #457B9D;
}

/* GUIDE SECTION */

.guide-section {
    padding: 50px;
}

#guide-section-chino {
    background-color: olivedrab;
}

#guide-section-yonkers {
    background-color: aliceblue;
}

.guide-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    background-color: #A8DADC;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0px 6px 0px #1D3557;
}

#guide-chino {
    background-color: #ffb733;
}

#guide-yonkers {
    background-color: #031c5e;
    color: white;
}

.guide-content img {
    width: 50%;
    border-radius: .5rem;
}

#guide-text {
    max-width: 200px;
    padding: 0 .5rem;
    box-sizing: border-box;
}

/* CITIES SECTION */

#cities-section {
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
    padding: 2.5rem 0;
}

#cities {
    display: flex;
    justify-content: center;
}

.city img {
    width: 100%;
}

#chino-pic {
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

#yonkers-pic {
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

/* WIDESCREEN */

@media only screen and (min-width: 617px) {
    .activity p {
        margin: 0;
    }
}